// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$primary: #8a24f3;
$black: #000;
$white: #fff;
$gray: #6c757d;
$secondary: #6c757d;
$link: #81818d;
$hover: #080816;
$heading: #4f118f;
$text: #4a4a4a;
