<div class="container">
    <div class="news">
        <div class="news-hot">
            <a href="#!" class="news-hot__link">
                <div class="news-hot__content">
                    <div class="news-hot__heading">
                        NZDUSD leads G10 gainers on firmer sentiment, upbeat NZ inflation
                    </div>
                    <p class="news-hot__desc">
                        The risk-on mood continues to weigh on the US dollar during early Tuesday even if the GBPUSD
                        bucks the uptrend.
                    </p>

                    <p class="news-hot__date">2022-10-18</p>
                </div>
                <div class="news-hot__image">
                    <img src="../../assets/images/18_10.2e16d0ba.fill-830x415.jpg" alt="" />
                </div>
            </a>
        </div>
        <div class="news-older">
            <a href="#!" class="news-older__link">
                <img src="../../assets/images/17.10.2e16d0ba.fill-830x415.jpg" alt="" class="news-older__img" />
                <p class="news-older__text">
                    Risk profile improves amid a sluggish week-start, GBPUSD cheers change in policy, diplomats
                </p>
            </a>
            <a href="#!" class="news-older__link">
                <img src="../../assets/images/13.10_3.2e16d0ba.fill-830x415.jpg" alt="" class="news-older__img" />
                <p class="news-older__text">The Stock Market Heads Back to the 2-Year Low</p>
            </a>
            <a href="#!" class="news-older__link">
                <img src="../../assets/images/14_10.2e16d0ba.fill-830x415.jpg" alt="" class="news-older__img" />
                <p class="news-older__text">Cautious optimism probes US dollar bulls, EURUSD struggles</p>
            </a>
        </div>
        <ul class="news-list"></ul>
        <ul class="news-pagination">
            <li class="hide"><a href="#!"><</a></li>
            <li class="active">
                <a href="#!">1</a>
            </li>
            <li>
                <a href="#!">2</a>
            </li>
            <li>
                <a href="#!">3</a>
            </li>
            <li>
                <a href="#!">4</a>
            </li>
            <li><a href="#!">></a></li>
        </ul>
    </div>
</div>
