<div class="news">
    <div class="container">
        <h2 class="news-heading">News</h2>
        <ul class="news-list">
            <li class="news-item">
                <a href="#!">
                    <img
                        src="../../assets/images/04.10_JqoFRCa.2e16d0ba.fill-830x415.jpg"
                        alt=""
                        class="news-item__image"
                    />

                    <p class="news-item__author">
                        <span>Denis Sergienko</span>
                        <span>2022-10-04</span>
                    </p>
                    <p class="news-item__desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
            <li class="news-item">
                <a href="#!">
                    <img src="../../assets/images/04.10.2e16d0ba.fill-830x415.jpg" alt="" class="news-item__image" />
                    <p class="news-item__author">
                        <span>MTrading Team </span>
                        <span>2022-10-04</span>
                    </p>
                    <p class="news-item__desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
            <li class="news-item">
                <a href="#!">
                    <img src="../../assets/images/03.10.2e16d0ba.fill-830x415.jpg" alt="" class="news-item__image" />
                    <p class="news-item__author">
                        <span>MTrading Team</span>
                        <span>2022-10-03</span>
                    </p>
                    <p class="news-item__desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
        </ul>
    </div>
</div>
