<div class="deposit">
    <div class="container">
        <div>
            <h2 class="deposit-heading">Deposit & <span>withdrawal</span></h2>
            <p class="deposit-desc">
                We offer flexible & convenient ways to deposit and withdraw funds. There are a variety of electronic
                payment systems, bank cards, and wire transfer options.
            </p>
        </div>
        <ul class="deposit-payment">
            <li class="deposit-item">
                <div class="deposit-item__content">
                    <div class="deposit-item__logos">
                        <img
                            class="deposit-item__logos--name"
                            src="https://mtr-cdn.com/img/mtweb/general/icons/visa.svg"
                            alt=""
                        />
                        <img
                            src="https://mtr-cdn.com/img/mtweb/general/icons/mastercard.svg"
                            alt=""
                            class="deposit-item__logo--icon"
                        />
                    </div>
                    <div class="deposit-item__infos">
                        <div class="deposit-item__name">Mastercard/Visa</div>
                        <p>Deposit 0%</p>
                        <p>Withdrawal 0%</p>
                    </div>
                </div>

                <a href="../../../pages/auths.html" class="btn btn-secondary deposit-item__button">Deposit now</a>
            </li>
            <li class="deposit-item">
                <div class="deposit-item__content">
                    <div class="deposit-item__logos">
                        <img
                            class="deposit-item__logos--name"
                            src="https://mtr-cdn.com/img/mtweb/general/icons/skrill.svg"
                            alt=""
                        />
                    </div>
                    <div class="deposit-item__infos">
                        <div class="deposit-item__name">Skrill/Neteller</div>
                        <p>Deposit 0%</p>
                        <p>Withdrawal 0%</p>
                    </div>
                </div>

                <a href="../../../pages/auths.html" class="btn btn-secondary deposit-item__button">Deposit now</a>
            </li>
            <li class="deposit-item">
                <div class="deposit-item__a">
                    <div class="deposit-item__content">
                        <div class="deposit-item__logos">
                            <img
                                src="https://mtr-cdn.com/img/mtweb/general/icons/local-banks.svg"
                                alt=""
                                class="deposit-item__logo--icon"
                            />
                        </div>
                        <div class="deposit-item__infos">
                            <div class="deposit-item__name">Local banks</div>
                            <p>Deposit 0%</p>
                            <p>Withdrawal 0%</p>
                        </div>
                    </div>

                    <a href="../../../pages/auths.html" class="btn btn-secondary deposit-item__button">Deposit now</a>
                </div>
            </li>
            <li class="deposit-item">
                <div class="deposit-item__content">
                    <div class="deposit-item__infos">
                        <div class="deposit-item__name">Learn more</div>
                        <p>30+ payment methods</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
