/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  height: inherit;
}

a {
  text-decoration: none;
  color: #81818d;
  font-weight: 500;
  white-space: nowrap;
}

img {
  vertical-align: middle;
}

@keyframes rotateDropDown {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes crossBanners {
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    border: 2px transparent;
  }
  25% {
    border-top: 2px solid red;
    transition: border-top 2s transform(rotate(90deg));
  }
  50% {
    border-top: 2px solid red;
    border-right: 2px solid red;
    transition: border-right 4s transform(rotate(180deg));
  }
  75% {
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    transition: border-bottom 6s transform(rotate(270deg));
  }
  100% {
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    transition: border-left 8s transform(rotate(270deg));
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  line-height: 32px;
  padding: 4px 46px;
  min-width: 230px;
  font-family: "Roboto", sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #8a24f3;
}
.btn-secondary {
  color: #8a24f3;
  background-color: #fff;
}
.btn-rounded {
  background-color: #8846f4;
  color: #fff;
}

.header-menu {
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #eee;
  flex: 1;
  font-family: "Open Sans", sans-serif;
}
.header-brand {
  margin-right: 33px;
}
.header-menu__item {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.header-menu__item:not(:last-child) {
  margin-right: 24px;
}
.header-menu__item::after {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  height: 1px;
  left: 0;
  top: 34px;
}
.header-menu__item:hover {
  color: #080816;
}
.header-menu__item:hover::after {
  background-color: #81818d;
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}
.header-language {
  position: relative;
  text-align: right;
  cursor: pointer;
}
.header-language:hover .header-language__list {
  visibility: visible;
  animation: rotateDropDown 0.6s forwards 0.2s;
  -webkit-animation: rotateDropDown 0.6s forwards 0.2s;
}
.header-language__flag {
  margin-right: 6px;
  vertical-align: baseline;
}
.header-language__label {
  font-size: 1.6rem;
  color: #81818d;
}
.header-language__label:hover {
  border-bottom: 1px solid #81818d;
}
.header-language__list {
  will-change: transform;
  position: absolute;
  top: calc(100% + 35px);
  left: 0;
  min-width: 250px;
  background-color: #fff;
  border-radius: 2px;
  z-index: 1;
  padding: 8px 0;
  visibility: hidden;
  opacity: 0;
  transform-origin: top left;
}
.header-language__list::before {
  position: absolute;
  content: "";
  left: 0;
  top: -35px;
  width: 100%;
  height: 35px;
}
.header-language__item {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 4px 24px;
  line-height: 24px;
  white-space: nowrap;
}
.header-language__item:hover {
  background-color: #f8f9fa;
}
.header-language__item .header-language__label {
  color: #16181b;
}
.header-language__item .header-language__label:hover {
  border: none;
}
.header-auth {
  margin-left: 68px;
}
.header-auth__account {
  display: inline-block;
  font-size: 1.2rem;
  min-width: 126px;
  line-height: 20px;
  width: auto;
  margin-left: 20px;
  padding: 4px 16px;
  border: 2px solid rgb(129, 129, 141);
  letter-spacing: -0.3px;
  border-radius: 4px;
  font-weight: 700;
}
.header-slide {
  background: linear-gradient(257.74deg, #6b249e 37.42%, #9048c5 80.7%);
  height: 448px;
  color: #fff;
  text-align: left;
  width: 100%;
  flex-basis: 100%;
}
.header-slide__wrap {
  position: relative;
}
.header-slide__content {
  max-width: 600px;
  position: relative;
}
.header-slide__content--text {
  animation: crossBanners 12s infinite ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.header-slide__content--text:nth-of-type(1) {
  animation-delay: 0;
}
.header-slide__content--text:nth-of-type(2) {
  animation-delay: 4s;
}
.header-slide__content--text:nth-of-type(3) {
  animation-delay: 8s;
}
.header-slide__content--text h1 {
  padding-top: 35px;
  font-size: 4rem;
  line-height: 48px;
  font-weight: 700;
}
.header-slide__content--text p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 20px auto 16px;
}
.header-slide__background {
  position: absolute;
  left: 355px;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.header-slide__banner {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: crossBanners 12s infinite ease-in-out;
}
.header-slide__banner:nth-of-type(1) {
  animation-delay: 0;
}
.header-slide__banner:nth-of-type(2) {
  animation-delay: 4s;
}
.header-slide__banner:nth-of-type(3) {
  animation-delay: 8s;
}
.header-slide__button {
  position: absolute;
  left: 0;
  bottom: 45px;
}
.header-submenu {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: "Open Sans", sans-serif;
}
.header-submenu__item {
  margin-right: 24px;
  padding: 14px 0 0;
  color: #81818d;
  cursor: pointer;
  position: relative;
}
.header-submenu__item:hover {
  color: #080816;
}
.header-submenu__item:hover .header-submenu__secondlevel {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}
.header-submenu__secondlevel {
  position: absolute;
  padding: 20px 33px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.header-submenu__secondlevel::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  left: 0;
  top: -20px;
}
.header-submenu__seconlevel--item {
  height: 40px;
}
.header-submenu__seconlevel--link {
  line-height: 40px;
  color: #5c5c5c;
  position: relative;
  left: 0;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.header-submenu__seconlevel--link:hover {
  left: 14px;
  color: #477ae2;
}
.header-submenu__seconlevel--link::before {
  content: "\f105";
  color: #477ae2;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s ease;
  position: absolute;
  top: 3px;
  left: -12px;
  opacity: 0;
}
.header-submenu__seconlevel--link:hover::before {
  opacity: 1;
  transition: all 0.5s ease;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
  margin: 40px 0 110px;
}
.benefits-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.benefits-item__link p {
  margin-top: 12px;
  color: #4f118f;
  font-size: 1.8rem;
  white-space: initial;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}
.benefits-item__link p:hover {
  text-decoration: underline;
}
.benefits-item__icon {
  min-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coppytrade {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coppytrade-content {
  max-width: 640px;
  width: 100%;
}
.coppytrade-content__heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
}
.coppytrade-content__heading span {
  color: #8a24f3;
}
.coppytrade-content__desc {
  color: #4a4a4a;
  line-height: 24px;
  font-size: 1.6rem;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}
.coppytrade-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}
.coppytrade-benefits__item {
  display: flex;
  align-items: center;
  min-width: 640px;
}
.coppytrade-benefits__item:not(:first-of-type) {
  margin-top: 24px;
}
.coppytrade-benefits__item-icon {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  margin-right: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6efff;
  position: relative;
}
.coppytrade-benefits__item-icon::before {
  position: absolute;
  content: "";
  background-color: transparent;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  animation: spin 5s forwards;
}
.coppytrade-benefits__item-step h3 {
  color: #4f118f;
  font-size: 2.4rem;
  letter-spacing: normal;
  line-height: 32px;
}
.coppytrade-benefits__item-step p {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: normal;
  color: #212529;
}
.coppytrade-button {
  margin-top: 40px;
  max-width: 380px;
}

.deposit {
  background: linear-gradient(180deg, rgba(245, 243, 249, 0) 1.04%, #f5f3f9);
  margin-top: 74px;
  padding-bottom: 24px;
  font-family: "Roboto", sans-serif;
}
.deposit-heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.deposit-heading span {
  color: #8a24f3;
}
.deposit-desc {
  font-size: 1.6rem;
  color: #4a4a4a;
  width: 600px;
  line-height: 24px;
  letter-spacing: normal;
}
.deposit-payment {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 28px;
}
.deposit-item {
  flex-basis: 100%;
  padding: 22px 26px;
  background-color: #fff;
  transition: height 0.2s ease-in;
  transition-delay: 0.15s;
  border: 1px solid #c3b1cc;
  border-radius: 4px;
  height: 116px;
  cursor: pointer;
  overflow: hidden;
}
.deposit-item:hover {
  border-color: #867299;
  background-color: #faf4ff;
}
.deposit-item:has(a.btn):hover {
  height: 157px;
}
.deposit-item:not([btn]):hover .deposit-item__button {
  opacity: 1;
}
.deposit-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
}
.deposit-item__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 28px;
  width: 78px;
}
.deposit-item__name {
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 700;
  color: #4f118f;
}
.deposit-item p {
  line-height: 24px;
  font-size: 1.6rem;
  letter-spacing: normal;
  color: #4f118f;
}
.deposit-item__infos {
  width: 130px;
}
.deposit-item__button {
  margin-top: 14px;
  font-size: 1.6rem;
  flex-basis: 100%;
  color: #4f118f;
  border: 1px solid #c3b1cc;
  border-radius: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  transition: all 0.2s ease-in;
  width: 236px;
}

.partnership {
  padding: 32px 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-shrink: 100%;
}
.partnership-content {
  max-width: 600px;
  width: 100%;
}
.partnership-heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.partnership-heading span {
  color: #8a24f3;
}
.partnership-desc {
  font-size: 1.6rem;
  color: #4a4a4a;
  line-height: 24px;
  letter-spacing: normal;
}
.partnership-graph {
  margin-top: 20px;
}
.partnership-img {
  flex-basis: 100%;
  min-width: 0;
}
.partnership-button {
  width: 425px;
  margin-left: 140px;
  margin-top: 20px;
}

.news-heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.news-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.news-item__image {
  border-radius: 8px;
  height: 209px;
  object-fit: cover;
}
.news-item__author {
  margin-top: 12px;
  font-size: 1.6rem;
  color: #81818d;
}
.news-item__desc {
  white-space: initial;
  font-size: 2rem;
  line-height: 32px;
  color: #080816;
  margin-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
