/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

html {
  background-color: #fff;
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #81818d;
  font-weight: 500;
  white-space: nowrap;
}

img {
  vertical-align: middle;
}

input {
  outline: none;
}

@keyframes rotateDropDown {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes crossBanners {
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  line-height: 32px;
  padding: 4px 46px;
  min-width: 230px;
  font-family: "Roboto", sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #8a24f3;
}
.btn-secondary {
  color: #8a24f3;
  background-color: #fff;
}
.btn-rounded {
  background-color: #8846f4;
  color: #fff;
}

.header-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid #eee;
  flex: 1;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.header-brand {
  margin-right: 33px;
}
.header-brand__mobile {
  display: none;
}
.header-menu {
  flex: 1;
}
.header-mobile__menu {
  position: relative;
  display: inline-flex;
  margin-right: 12px;
  width: 20px;
  display: none;
}
.header-mobile__menu--close {
  display: none;
}
.header-mobile__menu.open > .header-mobile__menu--open {
  display: none;
}
.header-mobile__menu.open > .header-mobile__menu--close {
  display: inline-block;
}
.header-overlay {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #371053;
  transition: all 0.1s ease-in-out;
}
.header-overlay.active {
  height: 100%;
}
.header-mobile__list {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.header-mobile__item {
  color: #fff;
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.header-mobile__item:not(:first-child) {
  margin-top: 12px;
}
.header-mobile__item a {
  color: #fff;
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.header-mobile__item i {
  font-size: 1rem;
  margin-left: 6px;
  transform: translateY(-3px);
}
.header-mobile__show.active ~ .header-mobile__submenu {
  max-height: 300px;
}
.header-mobile__submenu {
  max-height: 0;
  overflow: hidden;
  padding-left: 12px;
  transition: all 0.5s ease-in;
}
.header-mobile__submenu--item {
  padding-top: 12px;
}
.header-download__app {
  background-color: #8a24f3;
  padding: 12px 20px;
  display: none;
}
.header-download__app a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-download__app p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 16px;
  white-space: initial;
  margin-right: 46px;
}
.header-menu__item {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.header-menu__item:not(:last-child) {
  margin-right: 24px;
}
.header-menu__item::after {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  height: 1px;
  left: 0;
  top: 34px;
}
.header-menu__item:hover {
  color: #080816;
}
.header-menu__item:hover::after {
  background-color: #81818d;
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}
.header-language {
  position: relative;
  text-align: right;
  cursor: pointer;
}
.header-language:hover .header-language__list {
  visibility: visible;
  animation: rotateDropDown 0.6s forwards 0.2s;
  -webkit-animation: rotateDropDown 0.6s forwards 0.2s;
}
.header-language__flag {
  margin-right: 6px;
  vertical-align: baseline;
}
.header-language__label {
  font-size: 1.6rem;
  color: #81818d;
}
.header-language__label:hover {
  border-bottom: 1px solid #81818d;
}
.header-language__list {
  will-change: transform;
  position: absolute;
  top: calc(100% + 35px);
  left: 0;
  min-width: 250px;
  background-color: #fff;
  border-radius: 2px;
  z-index: 1;
  padding: 8px 0;
  visibility: hidden;
  opacity: 0;
  transform-origin: top left;
}
.header-language__list::before {
  position: absolute;
  content: "";
  left: 0;
  top: -35px;
  width: 100%;
  height: 35px;
}
.header-language__item {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 4px 24px;
  line-height: 24px;
  white-space: nowrap;
}
.header-language__item:hover {
  background-color: #f8f9fa;
}
.header-language__item .header-language__label {
  color: #16181b;
}
.header-language__item .header-language__label:hover {
  border: none;
}
.header-auth {
  margin-left: 68px;
}
.header-auth__account {
  display: inline-block;
  font-size: 1.2rem;
  min-width: 126px;
  line-height: 20px;
  width: auto;
  margin-left: 20px;
  padding: 4px 16px;
  border: 2px solid rgb(129, 129, 141);
  letter-spacing: -0.3px;
  border-radius: 4px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .header .header-mobile__menu {
    display: inline-block;
  }
  .header .header-menus {
    height: 56px;
    padding: 0 20px;
  }
  .header .header-brand {
    height: 20px;
    flex: 1;
    margin-right: 0;
  }
  .header .header-brand__desktop {
    display: none;
  }
  .header .header-brand__mobile {
    display: inline-block;
  }
  .header .header-language {
    display: none;
  }
  .header .header-download__app {
    display: block;
  }
  .header .header-menu {
    display: none;
  }
  .header .header-submenu {
    display: none;
  }
}
@media (max-width: 575px) {
  .header .header-mobile__menu {
    display: inline-block;
  }
  .header .header-menus {
    height: 56px;
    padding: 0 20px;
  }
  .header .header-brand {
    height: 20px;
    flex: 1;
    margin-right: 0;
  }
  .header .header-brand__desktop {
    display: none;
  }
  .header .header-brand__mobile {
    display: inline-block;
  }
  .header .header-language {
    display: none;
  }
  .header .header-download__app {
    display: block;
  }
  .header .header-menu {
    display: none;
  }
  .header .header-submenu {
    display: none;
  }
}
.header-submenu {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: "Open Sans", sans-serif;
}
.header-submenu__item {
  margin-right: 24px;
  padding: 14px 0 0;
  color: #81818d;
  cursor: pointer;
  position: relative;
}
.header-submenu__item:hover {
  color: #080816;
}
.header-submenu__item a {
  padding: 14px 0 0;
  color: #81818d;
  cursor: pointer;
  font-weight: 400;
}
.header-submenu__item:hover .header-submenu__secondlevel {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}
.header-submenu__secondlevel {
  position: absolute;
  padding: 20px 33px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.header-submenu__secondlevel::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  left: 0;
  top: -20px;
}
.header-submenu__seconlevel--item {
  height: 40px;
}
.header-submenu__seconlevel--link {
  line-height: 40px;
  color: #5c5c5c;
  position: relative;
  left: 0;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.header-submenu__seconlevel--link:hover {
  left: 14px;
  color: #477ae2;
}
.header-submenu__seconlevel--link::before {
  content: "\f105";
  color: #477ae2;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s ease;
  position: absolute;
  top: 3px;
  left: -12px;
  opacity: 0;
}
.header-submenu__seconlevel--link:hover::before {
  opacity: 1;
  transition: all 0.5s ease;
}
.header-slide {
  background: linear-gradient(257.74deg, #6b249e 37.42%, #9048c5 80.7%);
  height: 448px;
  color: #fff;
  text-align: left;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
}
.header-slide__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.header-slide__content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 45px;
}
.header-slide__text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.header-slide__text--wrap {
  animation: crossBanners 12s infinite ease-in-out;
  opacity: 0;
  position: absolute;
}
.header-slide__text--wrap:nth-of-type(1) {
  animation-delay: 0;
}
.header-slide__text--wrap:nth-of-type(2) {
  animation-delay: 4s;
}
.header-slide__text--wrap:nth-of-type(3) {
  animation-delay: 8s;
}
.header-slide__text--wrap h1 {
  font-size: 4rem;
  line-height: 48px;
  font-weight: 700;
}
.header-slide__text--wrap p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 20px auto 16px;
}
.header-slide__banner {
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation: crossBanners 12s infinite ease-in-out;
}
.header-slide__banner:nth-of-type(1) {
  animation-delay: 0s;
  width: 887px;
  height: 341px;
  left: 360px;
}
.header-slide__banner:nth-of-type(2) {
  animation-delay: 4s;
  width: 816px;
  height: 422px;
  left: 395px;
}
.header-slide__banner:nth-of-type(3) {
  animation-delay: 8s;
  width: 933px;
  height: 442px;
  left: 355px;
}
@media (max-width: 575px) {
  .header .header-slide {
    height: 355px;
  }
  .header .header-slide__content {
    padding: 16px;
  }
  .header .header-slide__text {
    max-width: 100%;
    flex-direction: column;
  }
  .header .header-slide__text--wrap {
    width: 100%;
    text-align: center;
  }
  .header .header-slide__text--wrap h1 {
    font-size: 2rem;
    line-height: 28px;
    font-weight: 700;
  }
  .header .header-slide__text--wrap p {
    margin-top: 5px;
  }
  .header .header-slide__background {
    width: 360px;
    height: 287px;
    position: absolute;
    margin: 48px auto 20px;
  }
  .header .header-slide__banner {
    width: 360px;
    height: 170px;
    left: 0;
    bottom: 80px;
  }
  .header .header-slide__button {
    width: 100%;
  }
  .header .header-slide__wrapper {
    flex-direction: column;
  }
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 95px;
  margin: 40px 0 110px;
}
.benefits-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.benefits-item__link p {
  margin-top: 12px;
  color: #4f118f;
  font-size: 1.8rem;
  white-space: initial;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}
.benefits-item__link p:hover {
  text-decoration: underline;
}
.benefits-item__icon {
  min-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 575px) {
  .benefits {
    flex-wrap: wrap;
    gap: 32px;
    margin: 48px auto 16px;
    padding: 0 120px;
    height: 260px;
    overflow: hidden;
  }
  .benefits-item {
    width: 140px;
    text-align: center;
  }
}
.coppytrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coppytrade-content {
  max-width: 640px;
  width: 100%;
}
.coppytrade-content__heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
}
.coppytrade-content__heading span {
  color: #8a24f3;
}
.coppytrade-content__desc {
  color: #4a4a4a;
  line-height: 24px;
  font-size: 1.6rem;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}
.coppytrade-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}
.coppytrade-benefits__item {
  display: flex;
  align-items: center;
  min-width: 640px;
}
.coppytrade-benefits__item:not(:first-of-type) {
  margin-top: 24px;
}
.coppytrade-benefits__item-icon {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  margin-right: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6efff;
  position: relative;
}
.coppytrade-benefits__item-step h3 {
  color: #4f118f;
  font-size: 2.4rem;
  letter-spacing: normal;
  line-height: 32px;
}
.coppytrade-benefits__item-step p {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: normal;
  color: #212526;
}
.coppytrade-benefits__item:nth-of-type(1) .coppytrade-left .coppytrade-rotate, .coppytrade-benefits__item:nth-of-type(1) .coppytrade-right .coppytrade-rotate {
  -webkit-animation-delay: 0;
}
.coppytrade-benefits__item:nth-of-type(2) .coppytrade-left .coppytrade-rotate, .coppytrade-benefits__item:nth-of-type(2) .coppytrade-right .coppytrade-rotate {
  -webkit-animation-delay: 6s;
}
.coppytrade-benefits__item:nth-of-type(3) .coppytrade-left .coppytrade-rotate, .coppytrade-benefits__item:nth-of-type(3) .coppytrade-right .coppytrade-rotate {
  -webkit-animation-delay: 12s;
}
.coppytrade-benefits__item:nth-of-type(4) .coppytrade-left .coppytrade-rotate, .coppytrade-benefits__item:nth-of-type(4) .coppytrade-right .coppytrade-rotate {
  -webkit-animation-delay: 18s;
}
.coppytrade-button {
  margin-top: 40px;
  max-width: 380px;
}
.coppytrade-background__video {
  position: relative;
  width: 500px;
  height: 500px;
}
.coppytrade-background__video video {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: crossBanners 24s infinite ease-in-out;
}
.coppytrade-background__video video:nth-of-type(1) {
  animation-delay: 0;
}
.coppytrade-background__video video:nth-of-type(2) {
  animation-delay: 6s;
}
.coppytrade-background__video video:nth-of-type(3) {
  animation-delay: 12s;
}
.coppytrade-background__video video:nth-of-type(4) {
  animation-delay: 18s;
}
.coppytrade-left {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0, 52px, 52px, 26px);
}
.coppytrade-right {
  top: 0;
  left: 0;
  position: absolute;
  clip: rect(0px, 26px, 52px, 0px);
}
.coppytrade-rotate {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  border: 2px solid #bdabf0;
}
.coppytrade-left .coppytrade-rotate {
  clip: rect(0px, 26px, 52px, 0px);
  -webkit-animation: rotate-left 6s both linear;
}
.coppytrade-right .coppytrade-rotate {
  clip: rect(0, 52px, 52px, 26px);
  -webkit-animation: rotate-right 6s both linear;
}

@media (max-width: 575px) {
  .coppytrade {
    padding: 0 16px;
    flex-direction: column;
    position: relative;
  }
  .coppytrade-benefits {
    position: relative;
  }
  .coppytrade-benefits__item {
    display: none;
  }
  .coppytrade-background {
    width: 100%;
    height: 100%;
    border: 4px solid #e1e3fd;
    border-radius: 12px;
  }
  .coppytrade-button {
    display: none;
  }
}
.deposit {
  background: linear-gradient(180deg, rgba(245, 243, 249, 0) 1.04%, #f5f3f9);
  margin-top: 74px;
  padding-bottom: 24px;
  font-family: "Roboto", sans-serif;
}
.deposit-heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.deposit-heading span {
  color: #8a24f3;
}
.deposit-desc {
  font-size: 1.6rem;
  color: #4a4a4a;
  max-width: 600px;
  line-height: 24px;
  letter-spacing: normal;
}
.deposit-payment {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 28px;
}
.deposit-item {
  flex-basis: 100%;
  padding: 22px 26px;
  background-color: #fff;
  transition: height 0.2s ease-in;
  transition-delay: 0.15s;
  border: 1px solid #c3b1cc;
  border-radius: 4px;
  height: 116px;
  cursor: pointer;
  overflow: hidden;
}
.deposit-item:hover {
  border-color: #867299;
  background-color: #faf4ff;
}
.deposit-item:has(a.btn):hover {
  height: 157px;
}
.deposit-item:not([btn]):hover .deposit-item__button {
  opacity: 1;
}
.deposit-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
}
.deposit-item__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 28px;
  width: 78px;
}
.deposit-item__name {
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 700;
  color: #4f118f;
}
.deposit-item p {
  line-height: 24px;
  font-size: 1.6rem;
  letter-spacing: normal;
  color: #4f118f;
}
.deposit-item__infos {
  width: 130px;
}
.deposit-item__button {
  margin-top: 14px;
  font-size: 1.6rem;
  flex-basis: 100%;
  color: #4f118f;
  border: 1px solid #c3b1cc;
  border-radius: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  transition: all 0.2s ease-in;
  width: 236px;
}

@media (max-width: 575px) {
  .deposit {
    padding: 16px;
  }
  .deposit-payment {
    flex-wrap: wrap;
  }
}
.partnership {
  padding: 32px 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-shrink: 100%;
}
.partnership-content {
  max-width: 600px;
  width: 100%;
}
.partnership-heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.partnership-heading span {
  color: #8a24f3;
}
.partnership-desc {
  font-size: 1.6rem;
  color: #4a4a4a;
  line-height: 24px;
  letter-spacing: normal;
}
.partnership-graph {
  margin-top: 20px;
}
.partnership-img {
  flex-basis: 100%;
  min-width: 0;
}
.partnership-button {
  width: 425px;
  margin-left: 140px;
  margin-top: 20px;
}

@media (max-width: 575px) {
  .partnership {
    padding: 16px;
    flex-direction: column;
  }
  .partnership-button {
    width: 100%;
    margin-left: 0;
  }
}
.homepage-news {
  padding-bottom: 45px;
}
.homepage-news__heading {
  color: #81818d;
  margin-bottom: 20px;
  font-size: 2.8rem;
  line-height: 40px;
  letter-spacing: normal;
}
.homepage-news__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.homepage-news__item--image {
  border-radius: 8px;
  height: 209px;
  object-fit: cover;
}
.homepage-news__item--author {
  margin-top: 12px;
  font-size: 1.6rem;
  color: #81818d;
}
.homepage-news__item--desc {
  white-space: initial;
  font-size: 2rem;
  line-height: 32px;
  color: #080816;
  margin-top: 5px;
}
.homepage-news__item:hover .homepage-news__item--desc {
  text-decoration: underline;
}

@media (max-width: 575px) {
  .homepage-news {
    padding: 16px;
  }
  .homepage-news__list {
    flex-direction: column;
  }
  .homepage-news__item img {
    width: 100%;
    height: auto;
  }
}
.footer {
  border-top: 2px solid #dde0e9;
  padding: 20px 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dde0e9;
  padding-bottom: 4px;
}
.footer-top__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 110px;
}
.footer-top__link--item {
  margin-bottom: 12px;
  margin-right: 40px;
  width: fit-content;
  position: relative;
}
.footer-top__link--item a {
  color: #474752;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}
.footer-top__link--item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.footer-top__link--item:hover::after {
  width: 100%;
  background-color: #474752;
  opacity: 1;
}
.footer-top__verify {
  width: 228px;
  margin-left: auto;
}
.footer-top__verify--desc {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: normal;
  color: #81818d;
  font-family: "Open Sans", sans-serif;
}
.footer-top__fincom {
  width: 287px;
  margin-left: 20px;
}
.footer-top__fincom--desc {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: normal;
  color: #81818d;
  font-family: "Open Sans", sans-serif;
}
.footer-bottom {
  margin-top: 20px;
}
.footer-bottom__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom__link--list {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-bottom__link-item {
  color: #81818d;
  font-size: 1.4rem;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.footer-bottom__link-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  opacity: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.footer-bottom__link-item:hover::after {
  width: 100%;
  background-color: #81818d;
  opacity: 1;
}
.footer-bottom__link--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom__link--social {
  margin-left: 36px;
}
.footer-bottom__link--social i {
  font-size: 2rem;
}
.footer-bottom__subtitle {
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: -0.3px;
  margin-top: 24px;
  color: #c8c8d5;
  font-family: "Open Sans", sans-serif;
}
.footer-bottom__subtitle a {
  color: #81818d;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .footer-top {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }
  .footer-top__links {
    flex: 1;
  }
  .footer-top__verify {
    width: 160px;
    margin-left: unset;
  }
  .footer-top__fincom {
    width: 160px;
    margin-left: unset;
  }
  .footer-bottom__links {
    flex-direction: column;
  }
  .footer-bottom__link--list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .footer-top {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }
  .footer-top__links {
    width: 100%;
  }
  .footer-top__verify {
    width: 50%;
    margin-left: unset;
  }
  .footer-top__fincom {
    width: 50%;
    margin-left: unset;
  }
  .footer-bottom__links {
    flex-direction: column;
  }
  .footer-bottom__link--list {
    flex-wrap: wrap;
  }
}
.auths {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.auths-content {
  display: flex;
  border-radius: 12px;
  border: 2px solid #e8e8e8;
  width: 1064px;
}
.auths-logo {
  height: 37px;
}
.auths-tabs {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 18px;
  border-bottom: 2px solid #e8e8e8;
  margin: 52px 0 24px;
}
.auths-tabs p {
  margin-right: 24px;
  padding-bottom: 10px;
  margin-bottom: -2px;
  color: #c3b1cc;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.auths-tabs p:hover {
  color: #85439a;
}
.auths-tabs > p.active {
  color: #85439a;
  border-bottom: 2px solid #85439a;
}
.auths-form {
  max-width: 560px;
  padding: 48px;
  width: 100%;
  border-radius: inherit;
}
.auths-form__login {
  display: none;
}
.auths-form__registration {
  display: none;
}
.auths-form__group {
  margin-bottom: 16px;
  width: 100%;
}
.auths-form__label {
  display: block;
  margin-bottom: 8px;
  color: #595964;
  font-size: 1.6rem;
  font-weight: 500;
}
.auths-form__input {
  width: 100%;
  height: 56px;
  background-color: #fff;
  color: #81818d;
  border: 1px solid;
  border-color: #dde0e9;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  padding-right: 16px;
}
.auths-form__input::placeholder {
  color: #81818d;
  font-weight: 500;
}
.auths-form__input:focus {
  border-color: #701bc8;
}
.auths-form__login.active {
  display: block;
}
.auths-form__registration.active {
  display: block;
}
.auths button {
  background-color: transparent;
  outline: none;
  border: none;
}
.auths-message {
  color: #ff5732;
  margin-top: 4px;
  font-size: 1.2rem;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
.auths-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.auths-login {
  height: 56px;
  border-radius: 6px;
  font-size: 1.6rem;
}
.auths-register {
  height: 56px;
  border-radius: 6px;
  font-size: 1.6rem;
  min-width: 100%;
}
.auths-policy {
  font-size: 1.2rem;
  line-height: 20px;
  color: #c8c8d5;
  font-family: "Roboto", sans-serif;
  margin-top: 24px;
}
.auths-benefits {
  max-width: 504px;
  width: 100%;
  padding: 50px 35px 65px 55px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: inherit;
}
.auths-item {
  display: flex;
  align-items: center;
}
.auths-item span {
  margin-right: 24px;
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auths-item p {
  font-size: 2rem;
  line-height: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #000;
}

@media (max-width: 575px) {
  .auths-content {
    flex-direction: column;
    border: none;
    height: 100%;
  }
  .auths-benefits {
    display: none;
  }
  .auths-form {
    padding: 40px 32px;
  }
  .auths-button {
    flex-direction: column;
  }
  .auths-submit {
    width: 100%;
    padding: 0;
  }
}
.platforms-wrap {
  display: flex;
  justify-content: space-between;
}
.platforms-form {
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.platforms-form h1 {
  font-size: 4rem;
  line-height: 56px;
}
.platforms-form input {
  width: 100%;
  background: #f5f7f9;
  border: 1px solid #c8c8d5;
  border-radius: 8px;
  height: 56px !important;
  padding-top: 18px;
  padding-bottom: 18px;
  letter-spacing: -0.3px;
  padding: 10px 16px;
  margin-top: 16px;
}
.platforms-button {
  height: 56px;
  margin-top: 16px;
  border-radius: 8px;
}
.platforms-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platforms-item {
  align-self: stretch;
  background: #f5f7f9;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 32px 32px 40px;
  min-height: 412px;
  height: auto;
  width: 380px;
  position: relative;
}
.platforms-item:nth-of-type(2) .platforms-item__image {
  text-align: right;
}
.platforms-item__image img {
  width: 102px;
  margin-bottom: 16px;
  margin-top: 40px;
}
.platforms-item__desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.platforms-item__desc h3 {
  color: #4f118f;
  font-family: Gotham Pro, Roboto, sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: normal;
}
.platforms-item__desc p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: normal;
  color: #474752;
  flex-grow: 1;
  margin: 4px 0 20px;
}
.platforms-item__icon img {
  height: 32px;
  width: 32px;
  margin-right: 22px;
}
.platforms-item:nth-of-type(1)::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 0 160px 95px 0;
  right: 0;
}
.platforms-item:nth-of-type(2)::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 95px 160px 0 0;
  left: 0;
}
.platforms-supreme h2 {
  margin-top: 50px;
  color: #000;
  line-height: 48px;
  font-size: 3.6rem;
}
.platforms-supreme__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-top: 28px;
  margin-bottom: 20px;
}
.platforms-supreme__item {
  display: grid;
  background: #f9f9fc;
  border-radius: 12px;
  padding: 28px 32px 32px 36px;
  height: 208px;
  width: 580px;
}
.platforms-supreme__item h3 {
  font-size: 2rem;
  line-height: 32px;
  color: #080816;
}
.platforms-supreme__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595964;
  margin-top: 8px;
}
.platforms-supreme__item a {
  margin-top: auto;
  color: #8a24f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.platforms-supreme__button {
  height: 56px;
  padding: 16px 20px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.platforms-downloads {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 48px 0;
}
.platforms-downloads__content h2 {
  font-size: 3.6rem;
  line-height: 48px;
  letter-spacing: normal;
  color: #080816;
}
.platforms-downloads__tabs {
  background: #f8f8fa;
  border-radius: 8px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.platforms-downloads__tabs--version {
  margin-top: 32px;
  background: #f8f8fa;
  border-radius: 8px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.platforms-downloads__tabs--select {
  border: none;
}
.platforms-downloads__tabs--policy {
  font-size: 1.2rem;
  line-height: 16px;
  color: #c3b1cc;
  margin-top: 12px;
}
.platforms-downloads__tabs--custom {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  display: none;
}
.platforms-downloads__tabs--custom li {
  flex-grow: unset !important;
}
.platforms-downloads li {
  display: flex;
  align-items: center;
  border: 2px solid #f8f8fa;
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  flex-grow: 1;
  justify-content: center;
  line-height: 24px;
  padding: 0 40px;
  text-transform: none;
  font-weight: 600;
  height: 56px;
  cursor: pointer;
}
.platforms-downloads li.selected {
  background: rgba(129, 46, 215, 0.06);
  border-radius: 8px;
  border: 2px solid #812ed7;
  color: #812ed7;
  cursor: default;
}
.platforms-downloads__webs {
  background: linear-gradient(113.69deg, #000 -47.43%, #0f083a 20.39%, #000 128.73%);
  border-radius: 12px;
  height: 438px;
  overflow: hidden;
  padding: 36px 44px;
  position: relative;
}
.platforms-downloads__webs h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: normal;
  color: #fff;
}
.platforms-downloads__webs p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: normal;
  color: hsla(0deg, 0%, 100%, 0.67);
  margin-top: 8px;
}
.platforms-downloads__webs a {
  color: #fff;
  line-height: 26px;
  padding: 0 20px;
  height: 46px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1490196078);
  max-width: 195px;
  margin-top: 26px;
}
.platforms-downloads__webs::before {
  background-image: url(https://mtr-cdn.com/img/mtweb/general/download-web-image.png);
  transform: rotate(2.5deg);
  background-size: cover;
  content: "";
  position: absolute;
  height: 388px;
  top: 140px;
  left: 195px;
  width: 502px;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .platforms {
    padding: 20px;
  }
  .platforms-wrap {
    flex-direction: column;
  }
  .platforms-form {
    margin-left: 0;
  }
  .platforms-list {
    margin-top: 70px;
    flex-direction: column;
    gap: 20px;
  }
  .platforms-item {
    width: 100%;
    border-radius: 16px;
  }
  .platforms-item:nth-of-type(1)::before {
    display: none;
  }
  .platforms-item:nth-of-type(2)::before {
    display: none;
  }
  .platforms-item__image {
    margin-bottom: 20px;
    text-align: left !important;
  }
  .platforms-item__desc {
    flex: 1;
  }
  .platforms-supreme__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .platforms-supreme__item {
    width: 100%;
  }
  .platforms-downloads {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 0;
  }
  .platforms-downloads__tabs--custom li {
    width: 33% !important;
  }
  .platforms-downloads li {
    width: 100%;
  }
  .platforms-form {
    margin-top: 0;
  }
  .platforms-form input {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .platforms {
    padding: 20px;
  }
  .platforms-wrap {
    flex-direction: column;
  }
  .platforms-form {
    margin-left: 0;
  }
  .platforms-list {
    margin-top: 70px;
    flex-direction: column;
    gap: 20px;
  }
  .platforms-item {
    width: 100%;
    border-radius: 16px;
  }
  .platforms-item:nth-of-type(1)::before {
    display: none;
  }
  .platforms-item:nth-of-type(2)::before {
    display: none;
  }
  .platforms-item__image {
    margin-bottom: 20px;
    text-align: left !important;
  }
  .platforms-item__desc {
    flex: 1;
  }
  .platforms-supreme__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .platforms-supreme__item {
    width: 100%;
  }
  .platforms-downloads {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 0;
  }
  .platforms-downloads__tabs {
    flex-direction: column;
    height: auto;
  }
  .platforms-downloads__tabs--version {
    flex-direction: column;
    height: auto;
  }
  .platforms-downloads li {
    width: 100%;
  }
  .platforms-form {
    margin-top: 0;
  }
  .platforms-form input {
    margin-top: 20px;
  }
}
.news {
  font-family: "Roboto", sans-serif;
}
.news-hot {
  text-align: start;
  text-align-last: start;
}
.news-hot:first-child {
  display: grid;
}
.news-hot__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news-hot__content {
  overflow: hidden;
  max-width: 544px;
  margin-block: auto;
}
.news-hot__heading {
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
  color: #000;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-hot__desc {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 24px;
  color: #2f2f2f;
  white-space: initial;
}
.news-hot__date {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #b6b6b6;
}
.news-hot__image {
  margin-left: auto;
  width: 100%;
}
.news-hot__image img {
  border-radius: 8px;
  height: 324px;
  width: 576px;
}
.news-older {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  margin-top: 32px;
  border-block: 1px solid #eee;
}
.news-older__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-older__link:not(:last-child) {
  border-right: 1px solid #eee;
}
.news-older__img {
  width: 128px;
  height: 72px;
  border-radius: 4px;
  object-fit: cover;
  margin-left: 32px;
  margin-right: 16px;
}
.news-older__text {
  font-size: 1.6rem;
  line-height: 24px;
  color: #000;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 206px;
  padding-right: 32px;
}
.news-list {
  margin-top: 32px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}
.news-item__image {
  border-radius: 8px;
  height: 209px;
  object-fit: cover;
}
.news-item__author {
  margin-top: 12px;
  font-size: 1.6rem;
  color: #81818d;
}
.news-item__desc {
  white-space: initial;
  font-size: 2rem;
  line-height: 32px;
  color: #080816;
  margin-top: 5px;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-item:hover .news__item--desc {
  text-decoration: underline;
}
.news-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 40px;
}
.news-pagination li {
  margin-left: 10px;
}
.news-pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  line-height: 24px;
  font-size: 1.6rem;
  width: 42px;
  height: 44px;
  border: 1px solid #e2ebf1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.news-pagination li a:hover {
  background-color: #8a24f3;
  color: #fff;
}
.news-pagination li.active a {
  background-color: #8a24f3;
  color: #fff;
  border: 0;
}
.news-pagination li.hide {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .news-hot {
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-hot__link {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
  }
  .news-hot__heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: normal;
    line-height: 36px;
    margin-top: 28px;
  }
  .news-hot__date {
    margin-bottom: 28px;
  }
  .news-hot__image img {
    height: auto;
    width: 100%;
  }
  .news-hot__content {
    max-width: none;
  }
  .news-older {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-older__link {
    margin-bottom: 32px;
    width: 100%;
    justify-content: flex-start;
  }
  .news-older__img {
    margin-left: 0;
  }
  .news-older__text {
    max-width: none;
    padding-right: initial;
  }
  .news-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-item__image {
    height: 184px;
    width: 100%;
    border-radius: 8px;
    object-fit: fill;
  }
}
@media (max-width: 575px) {
  .news-hot__link {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
  }
  .news-hot__heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: normal;
    line-height: 36px;
    margin-top: 28px;
  }
  .news-hot__date {
    margin-bottom: 28px;
  }
  .news-hot__image img {
    height: 184px;
  }
  .news-older {
    display: none;
  }
  .news-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-item__image {
    height: 184px;
    width: 100%;
    border-radius: 8px;
    object-fit: fill;
  }
}
.marketInsight {
  font-family: "Roboto", sans-serif;
}
.marketInsight-hot {
  text-align: start;
  text-align-last: start;
}
.marketInsight-hot:first-child {
  display: grid;
}
.marketInsight-hot__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.marketInsight-hot__content {
  overflow: hidden;
  max-width: 544px;
  margin-block: auto;
}
.marketInsight-hot__heading {
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
  color: #000;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.marketInsight-hot__desc {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 24px;
  color: #2f2f2f;
  white-space: initial;
}
.marketInsight-hot__date {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #b6b6b6;
}
.marketInsight-hot__image {
  margin-left: auto;
  width: 100%;
}
.marketInsight-hot__image img {
  border-radius: 8px;
  height: 324px;
  width: 576px;
}
.marketInsight-older {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  margin-top: 32px;
  border-block: 1px solid #eee;
}
.marketInsight-older__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marketInsight-older__link:not(:last-child) {
  border-right: 1px solid #eee;
}
.marketInsight-older__img {
  width: 128px;
  height: 72px;
  border-radius: 4px;
  object-fit: cover;
  margin-left: 32px;
  margin-right: 16px;
}
.marketInsight-older__text {
  font-size: 1.6rem;
  line-height: 24px;
  color: #000;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 206px;
  padding-right: 32px;
}
.marketInsight-list {
  margin-top: 32px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}
.marketInsight-item__image {
  border-radius: 8px;
  height: 209px;
  object-fit: cover;
}
.marketInsight-item__author {
  margin-top: 12px;
  font-size: 1.6rem;
  color: #81818d;
}
.marketInsight-item__desc {
  white-space: initial;
  font-size: 2rem;
  line-height: 32px;
  color: #080816;
  margin-top: 5px;
  white-space: initial;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.marketInsight-item:hover .marketInsight__item--desc {
  text-decoration: underline;
}
.marketInsight-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 40px;
}
.marketInsight-pagination li {
  margin-left: 10px;
}
.marketInsight-pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  line-height: 24px;
  font-size: 1.6rem;
  width: 42px;
  height: 44px;
  border: 1px solid #e2ebf1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.marketInsight-pagination li a:hover {
  background-color: #8a24f3;
  color: #fff;
}
.marketInsight-pagination li.active a {
  background-color: #8a24f3;
  color: #fff;
  border: 0;
}
.marketInsight-pagination li.hide {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .marketInsight-hot {
    padding-left: 15px;
    padding-right: 15px;
  }
  .marketInsight-hot__link {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
  }
  .marketInsight-hot__heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: normal;
    line-height: 36px;
    margin-top: 28px;
  }
  .marketInsight-hot__date {
    margin-bottom: 28px;
  }
  .marketInsight-hot__image img {
    height: auto;
    width: 100%;
  }
  .marketInsight-hot__content {
    max-width: none;
  }
  .marketInsight-older {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .marketInsight-older__link {
    margin-bottom: 32px;
    width: 100%;
    justify-content: flex-start;
  }
  .marketInsight-older__img {
    margin-left: 0;
  }
  .marketInsight-older__text {
    max-width: none;
    padding-right: initial;
  }
  .marketInsight-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 15px;
    padding-right: 15px;
  }
  .marketInsight-item__image {
    height: 184px;
    width: 100%;
    border-radius: 8px;
    object-fit: fill;
  }
}
@media (max-width: 575px) {
  .marketInsight-hot__link {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
  }
  .marketInsight-hot__heading {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: normal;
    line-height: 36px;
    margin-top: 28px;
  }
  .marketInsight-hot__date {
    margin-bottom: 28px;
  }
  .marketInsight-hot__image img {
    height: 184px;
  }
  .marketInsight-older {
    display: none;
  }
  .marketInsight-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-left: 15px;
    padding-right: 15px;
  }
  .marketInsight-item__image {
    height: 184px;
    width: 100%;
    border-radius: 8px;
    object-fit: fill;
  }
}

/*# sourceMappingURL=styles.css.map */
