<div class="header-slide">
    <div class="container header-slide__wrapper">
        <div class="header-slide__content">
            <div class="header-slide__text">
                <div class="header-slide__text--wrap">
                    <h1>Trade your favourite instruments</h1>
                    <p>Forex, stocks, commodities & indices with low spreads</p>
                </div>
                <div class="header-slide__text--wrap">
                    <h1>Instant deposits with 0 fees</h1>
                    <p>Flexible options for traders all over the world</p>
                </div>
                <div class="header-slide__text--wrap">
                    <h1>Get 200% extra on your deposit</h1>
                    <p>Trade with your personal bonus</p>
                </div>
            </div>
            <a href="#!" class="btn btn-secondary header-slide__button">Get started</a>
        </div>
        <div class="header-slide__background">
            <img src="../../../assets/images/homepage-banner-1@2x.png" class="header-slide__banner" />

            <img src="../../../assets/images/homepage-banner-2@2x.png" class="header-slide__banner" />

            <img src="../../../assets/images/homepage-banner-3@2x.png" class="header-slide__banner" />
        </div>
    </div>
</div>
