<div class="container">
    <ul class="benefits">
        <li class="benefits-item">
            <a class="benefits-item__link" href="#!">
                <div class="benefits-item__icon">
                    <img src="https://mtr-cdn.com/img/mtweb/general/icons/fast.svg" alt="" />
                </div>
                <p>Instant deposits with 0 fees</p>
            </a>
        </li>
        <li class="benefits-item">
            <a class="benefits-item__link" href="#!">
                <div class="benefits-item__icon">
                    <img src="https://mtr-cdn.com/img/mtweb/general/icons/mpro.svg" alt="" />
                </div>
                <p>Industry best trading conditions</p>
            </a>
        </li>
        <li class="benefits-item">
            <a class="benefits-item__link" href="#!">
                <div class="benefits-item__icon">
                    <img src="https://mtr-cdn.com/img/mtweb/general/icons/60.svg" alt="" />
                </div>
                <p>Up to 60% revenue share for IBs</p>
            </a>
        </li>
        <li class="benefits-item">
            <a class="benefits-item__link" href="#!">
                <div class="benefits-item__icon">
                    <img src="https://mtr-cdn.com/img/mtweb/general/icons/200.svg" alt="" />
                </div>
                <p>Deposit bonus up to 200%</p>
            </a>
        </li>
        <li class="benefits-item">
            <a class="benefits-item__link" href="../../../pages/auths.html">
                <img src="https://mtr-cdn.com/img/mtweb/general/icons/mobile-friendly.svg" alt="" />
                <p>Mobile friendly & handy</p>
            </a>
        </li>
    </ul>
</div>
