
        <ul class="header-submenu">
            <li class="header-submenu__item">
                Partnership
                <ul class="header-submenu__secondlevel">
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Partnership</a>
                    </li>
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">DW reward</a>
                    </li>
                </ul>
            </li>
            <li class="header-submenu__item">
                Promotions
                <ul class="header-submenu__secondlevel">
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Deposit bonus 200%</a>
                    </li>
                </ul>
            </li>
            <li class="header-submenu__item">
                Start Trading
                <ul class="header-submenu__secondlevel">
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Account types</a>
                    </li>
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Contract Specifications</a>
                    </li>
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Margin Requirements</a>
                    </li>
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Payment Systems</a>
                    </li>
                </ul>
            </li>
            <li class="header-submenu__item">
                <a href="../../../pages/platforms.html">Trading Platforms</a>

            </li>
            <li class="header-submenu__item">
                Social Trading
                <ul class="header-submenu__secondlevel">
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Copy Masters</a>
                    </li>
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Copiers</a>
                    </li>
                </ul>
            </li>
            <li class="header-submenu__item">
                About Us
                <ul class="header-submenu__secondlevel">
                    <li class="header-submenu__seconlevel--item">
                        <a class="header-submenu__seconlevel--link" href="#!">Our Brand Book</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>