.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
    margin: 40px 0 110px;

    &-item__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            margin-top: 12px;
            color: $heading;
            font-size: 1.8rem;
            white-space: initial;
            text-align: center;
            font-family: $font-roboto;
            font-weight: 400;
            letter-spacing: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-item__icon {
        min-height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// responsive

@media (min-width: 1200px) {
    .header {
    }
}
@media (min-width: 768px) and (max-width: 1119px) {
    .header {
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .header {
    }
}

@media (max-width: 575px) {
    .benefits {
        flex-wrap: wrap;
        gap: 32px;
        margin: 48px auto 16px;
        padding: 0 120px;
        height: 260px;
        overflow: hidden;

        &-item {
            width: 140px;
            text-align: center;
        }
    }
}
