<div class="container">
    <div class="coppytrade">
        <div class="coppytrade-content">
            <h2 class="coppytrade-content__heading">How does <span>Copy trade</span> work?</h2>
            <p class="coppytrade-content__desc">
                Too busy to trade forex or lack substantial trading experience? Discover the world of experienced
                traders, copy their deals in real time and let them earn money for you.
            </p>
            <ul class="coppytrade-benefits">
                <li class="coppytrade-benefits__item">
                    <div class="coppytrade-benefits__item-icon">
                        <img src="https://mtr-cdn.com/img/mtweb/general/icons/find.svg" alt="" />
                    </div>
                    <div class="coppytrade-benefits__item-step">
                        <h3>Find a trader to copy</h3>
                        <p>
                            Pick a trader whose results inspire you. No research needed, the list of top traders is
                            provided.
                        </p>
                    </div>
                </li>
                <li class="coppytrade-benefits__item">
                    <div class="coppytrade-benefits__item-icon">
                        <img src="https://mtr-cdn.com/img/mtweb/general/icons/deposit.svg" alt="" />
                    </div>
                    <div class="coppytrade-benefits__item-step">
                        <h3>Make a deposit</h3>
                        <p>Deposit to make sure your account balance is enough to start copying.</p>
                    </div>
                </li>
                <li class="coppytrade-benefits__item">
                    <div class="coppytrade-benefits__item-icon">
                        <img src="https://mtr-cdn.com/img/mtweb/general/icons/done.svg" alt="" />
                    </div>
                    <div class="coppytrade-benefits__item-step">
                        <h3>Subscribe</h3>
                        <p>Subscribe to the chosen trader or a few to copy their deals automatically.</p>
                    </div>
                </li>
                <li class="coppytrade-benefits__item">
                    <div class="coppytrade-benefits__item-icon">
                        <img src="https://mtr-cdn.com/img/mtweb/general/icons/money.svg" alt="" />
                    </div>
                    <div class="coppytrade-benefits__item-step">
                        <h3>Enjoy your income</h3>
                        <p>Profit from the experience of trading experts without any extra effort.</p>
                    </div>
                </li>
            </ul>
            <a href="#!" class="btn btn-primary coppytrade-button">copy the best</a>
        </div>
        <div class="copyytrade-background">
            <div class="coppytrade-background__video">
                <video preload="auto" autoplay loop muted poster="../../assets/videos/copytrade-banner.png" width="500">
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-1@2x.webm"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-1.webm"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                    <source
                        src="../../assets/videos/copytrade-1@2x.mp4"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/mp4"
                        src="../../assets/videos/copytrade-1.mp4"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                </video>
                <video
                    preload="auto"
                    autoplay
                    loop
                    muted
                    poster="../../assets/videos/copytrade-banner-second.png"
                    width="500"
                >
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-2@2x.webm"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-2.webm"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                    <source
                        src="../../assets/videos/copytrade-2@2x.mp4"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/mp4"
                        src="../../assets/videos/copytrade-2.mp4"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                </video>
                <video
                    preload="auto"
                    autoplay
                    loop
                    muted
                    poster="../../assets/videos/copytrade-banner-third.png"
                    width="500"
                >
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-3@2x.webm"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-3.webm"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                    <source
                        src="../../assets/videos/copytrade-3@2x.mp4"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/mp4"
                        src="../../assets/videos/copytrade-3.mp4"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                </video>
                <video
                    preload="auto"
                    autoplay
                    loop
                    muted
                    poster="../../assets/videos/copytrade-banner-fourth.png"
                    width="500"
                >
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-4@2x.webm"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/webm"
                        src="../../assets/videos/copytrade-4.webm"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                    <source
                        src="../../assets/videos/copytrade-4@2x.mp4"
                        media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
                    />
                    <source
                        type="video/mp4"
                        src="../../assets/videos/copytrade-4.mp4"
                        media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)"
                    />
                </video>
            </div>
        </div>
    </div>
</div>
