<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <ul class="footer-top__links">
                <li class="footer-top__link--item">
                    <a href="#!">Social Trading</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="#!">Partnership</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="#!">Payment Systems</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="#!">Learn</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="../../pages/news.html">News</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="#!">About Us</a>
                </li>
                <li class="footer-top__link--item">
                    <a href="#!">FAQ</a>
                </li>
            </ul>
            <div class="footer-top__verify">
                <img src="../../assets/images/verify.svg" alt="" class="footer-top__verify--img" />
                <p class="footer-top__verify--desc">
                    MTrading execution quality is confirmed by VMT and complies with best execution standards.
                </p>
            </div>
            <div class="footer-top__fincom">
                <img src="../../assets/images/financial-commision.svg" alt="" class="footer-top__fincom--img" />
                <p class="footer-top__fincom--desc">
                    The interests of MTrading clients are protected by the Financial Commission’s Compensation Fund for
                    up to €20 000 per claim.
                </p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__links">
                <div class="footer-bottom__link--list">
                    <a href="#!" class="footer-bottom__link-item">Privacy Policy</a>
                    <a href="#!" class="footer-bottom__link-item">Terms and Conditions</a>
                    <a href="#!" class="footer-bottom__link-item">Terms of Business</a>
                    <a href="#!" class="footer-bottom__link-item">AML Policies</a>
                    <a href="#!" class="footer-bottom__link-item">Risk Disclosure</a>
                </div>
                <div class="footer-bottom__link--icon">
                    <a class="footer-bottom__link--social" href="#!">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class="footer-bottom__link--social" href="#!">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class="footer-bottom__link--social" href="#!">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <p class="footer-bottom__subtitle">
                Address: First Floor, First Saint Vincent Bank Ltd. Building, James Street, Kingstown, St. Vincent and
                the Grenadines. MTrading (ServiceComsvg LLC.) incorporated under registered number 1593 LLC 2021 by the
                Registrar of International Business Companies, registered by the Financial Services Authority of Saint
                Vincent and the Grenadines.
                <sup
                    ><a
                        href="https://mtr-cdn.com/docs/Certificate_of_continuation.pdf"
                        target="_blank"
                        rel="noopener"
                        class="fa fa-external-link"
                    ></a
                ></sup>
                Risk warning: Trading foreign exchange or contracts for differences on margin carries a high level of
                risk, and may not be suitable for all investors. There is a possibility that you may sustain a loss
                equal to or greater than your entire investment. Therefore, you should not invest or risk money that you
                cannot afford to lose. You should ensure you understand all of the risks. Before using ServiceComSvg LLC
                services please acknowledge the risks associated with trading. The content of this Website must not be
                construed as personal advice. ServiceComSvg LLC. recommends you seek advice from an independent
                financial advisor. Regional Restrictions: ServiceComsvg LLC. does not provide services to residents of
                certain jurisdictions, such as: Russian Federation, Japan, the United States of America, Canada, EU
                countries and some other regions. For more information please refer to our
                <a href="#!" rel="noopener">FAQ section</a>.
            </p>
        </div>
    </div>
</footer>
