<div class="homepage-news">
    <div class="container">
        <h2 class="homepage-news__heading">News</h2>
        <ul class="homepage-news__list">
            <li class="homepage-news__item">
                <a href="#!">
                    <img
                        src="../../assets/images/04.10_JqoFRCa.2e16d0ba.fill-830x415.jpg"
                        alt=""
                        class="homepage-news__item--image"
                    />

                    <p class="homepage-news__item--author">
                        <span>Denis Sergienko</span>
                        <span>2022-10-04</span>
                    </p>
                    <p class="homepage-news__item--desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
            <li class="homepage-news__item">
                <a href="#!">
                    <img
                        src="../../assets/images/04.10.2e16d0ba.fill-830x415.jpg"
                        alt=""
                        class="homepage-news__item--image"
                    />
                    <p class="homepage-news__item--author">
                        <span>MTrading Team </span>
                        <span>2022-10-04</span>
                    </p>
                    <p class="homepage-news__item--desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
            <li class="homepage-news__item">
                <a href="#!">
                    <img
                        src="../../assets/images/03.10.2e16d0ba.fill-830x415.jpg"
                        alt=""
                        class="homepage-news__item--image"
                    />
                    <p class="homepage-news__item--author">
                        <span>MTrading Team</span>
                        <span>2022-10-03</span>
                    </p>
                    <p class="homepage-news__item--desc">MasterCard Will Launch the Crypto Secure App</p>
                </a>
            </li>
        </ul>
    </div>
</div>
