<div class="container">
    <div class="partnership">
        <div class="partnership-content">
            <h2 class="partnership-heading"><span>Partnership</span> program</h2>
            <p class="partnership-desc">
                Create your personal affiliate network and earn money every time your invitee trades. Receive up to 60%
                Revenue Share
            </p>
            <img class="partnership-graph" src="../../assets/images/graph.png" alt="" />
            <a href="$!" class="btn btn-primary partnership-button">Continue</a>
        </div>
        <img class="partnership-img" src="../../assets/images/homepage-banner-1.png" alt="" />
    </div>
</div>
