<div class="container">
    <div class="partnership">
        <div class="partnership-content">
            <h2 class="partnership-heading"><span>Partnership</span> program</h2>
            <p class="partnership-desc">
                Create your personal affiliate network and earn money every time your invitee trades. Receive up to 60%
                Revenue Share
            </p>
            <img class="partnership-graph" src="../../assets/images/graph.png" alt="" />
            <a href="#!" class="btn btn-primary partnership-button">Continue</a>
        </div>
        <video preload="auto" autoplay loop muted poster="../../assets/videos/graph-arrows.png" width="540">
            <source
                type="video/webm"
                src="../../assets/videos/homepage_arrows@2x.webm"
                media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)"
            />
        </video>
    </div>
</div>
