&-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid #eee;
    flex: 1;
    font-family: $font-opensans;
    position: relative;
}
&-brand {
    margin-right: 33px;

    &__mobile {
        display: none;
    }
}

&-menu {
    flex: 1;
}

&-mobile__menu {
    position: relative;
    display: inline-flex;
    margin-right: 12px;
    width: 20px;
    display: none;

    &--open {
    }
    &--close {
        display: none;
    }
}

&-mobile__menu.open > .header-mobile__menu--open {
    display: none;
}
&-mobile__menu.open > .header-mobile__menu--close {
    display: inline-block;
}

&-overlay {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: $bgc;
    transition: all 0.1s ease-in-out;
}

&-overlay.active {
    height: 100%;
}

&-mobile__list {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
&-mobile__item {
    color: $white;
    font-size: 1.6rem;
    line-height: 24px;
    font-family: $font-opensans;
    font-weight: 400;

    &:not(:first-child) {
        margin-top: 12px;
    }

    a {
        color: $white;
        font-size: 1.6rem;
        line-height: 24px;
        font-family: $font-opensans;
        font-weight: 400;
    }

    i {
        font-size: 1rem;
        margin-left: 6px;
        transform: translateY(-3px);
    }
}

&-mobile__show.active ~ .header-mobile__submenu {
    max-height: 300px;
}

&-mobile__submenu {
    max-height: 0;
    overflow: hidden;
    padding-left: 12px;
    transition: all 0.5s ease-in;

    &--item {
        padding-top: 12px;
    }
}

// download app

&-download__app {
    background-color: $primary;
    padding: 12px 20px;
    display: none;

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        color: $white;
        font-size: 1.2rem;
        line-height: 16px;
        white-space: initial;
        margin-right: 46px;
    }
}

&-menu__item {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    position: relative;

    &:not(:last-child) {
        margin-right: 24px;
    }

    &::after {
        position: absolute;
        content: '';
        width: 0;
        opacity: 0;
        height: 1px;
        left: 0;
        top: 34px;
    }

    &:hover {
        color: $hover;
    }

    &:hover::after {
        background-color: $link;
        width: 100%;
        opacity: 1;
        transition: all 0.3s ease;
    }
}

&-language {
    position: relative;
    text-align: right;
    cursor: pointer;

    &:hover .header-language__list {
        visibility: visible;
        animation: rotateDropDown 0.6s forwards 0.2s;
        -webkit-animation: rotateDropDown 0.6s forwards 0.2s;
    }
}

&-language__flag {
    margin-right: 6px;
    vertical-align: baseline;
}

&-language__label {
    font-size: 1.6rem;
    color: $link;
    &:hover {
        border-bottom: 1px solid $link;
    }
}

&-language__list {
    will-change: transform;
    position: absolute;
    top: calc(100% + 35px);
    left: 0;
    min-width: 250px;
    background-color: $white;
    border-radius: 2px;
    z-index: 1;
    padding: 8px 0;
    visibility: hidden;
    opacity: 0;
    transform-origin: top left;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: -35px;
        width: 100%;
        height: 35px;
    }
}

&-language__item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 4px 24px;
    line-height: 24px;
    white-space: nowrap;

    &:hover {
        background-color: #f8f9fa;
    }
}

&-language__item .header-language__label {
    color: #16181b;

    &:hover {
        border: none;
    }
}

&-auth {
    margin-left: 68px;
}

&-auth__login {
}

&-auth__account {
    display: inline-block;
    font-size: 1.2rem;
    min-width: 126px;
    line-height: 20px;
    width: auto;
    margin-left: 20px;
    padding: 4px 16px;
    border: 2px solid rgb(129, 129, 141);
    letter-spacing: -0.3px;
    border-radius: 4px;
    font-weight: 700;
}

// responsive

@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 1119px) {
    .header {
        &-mobile {
            &__menu {
                display: inline-block;
            }
        }
        &-menus {
            height: 56px;
            padding: 0 20px;
        }
        &-brand {
            height: 20px;
            flex: 1;
            margin-right: 0;

            &__desktop {
                display: inline-block;
            }

            &__mobile {
                display: none;
            }
        }

        &-download__app {
            display: block;
        }

        &-menu {
            display: none;
        }

        &-submenu {
            display: none;
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .header {
        &-mobile {
            &__menu {
                display: inline-block;
            }
        }
        &-menus {
            height: 56px;
            padding: 0 20px;
        }
        &-brand {
            height: 20px;
            flex: 1;
            margin-right: 0;

            &__desktop {
                display: none;
            }

            &__mobile {
                display: inline-block;
            }
        }
        &-language {
            display: none;
        }
        &-download__app {
            display: block;
        }

        &-menu {
            display: none;
        }

        &-submenu {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &-mobile {
            &__menu {
                display: inline-block;
            }
        }
        &-menus {
            height: 56px;
            padding: 0 20px;
        }
        &-brand {
            height: 20px;
            flex: 1;
            margin-right: 0;

            &__desktop {
                display: none;
            }

            &__mobile {
                display: inline-block;
            }
        }
        &-language {
            display: none;
        }
        &-download__app {
            display: block;
        }

        &-menu {
            display: none;
        }

        &-submenu {
            display: none;
        }
    }
}
