&-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid #eee;
    flex: 1;
    font-family: $font-opensans;
    position: relative;
}
&-brand {
    margin-right: 33px;

    &__mobile {
        display: none;
    }
}

&-menu {
    flex: 1;
}

&-mobile__menu {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    display: none;

    &--close {
        position: absolute;
        top: 0;
        left: -3px;
        display: none;
    }
}

&-overlay {
    width: 100%;
    height: 100%;
    background-color: $bgc;
    display: none;
}
&-mobile__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
&-mobile__item {
    display: inline-block;
    color: $white;
    font-size: 1.6rem;
    line-height: 24px;
    font-family: $font-opensans;
    font-weight: 400;

    &:not(:first-child) {
        margin-top: 12px;
    }

    a {
        color: $white;
        font-size: 1.6rem;
        line-height: 24px;
        font-family: $font-opensans;
        font-weight: 400;
    }

    i {
        font-size: 1rem;
        margin-left: 6px;
        transform: translateY(-3px);
    }
}

&-mobile__show.active ~ .header-mobile__submenu {
    display: block;
}

&-mobile__submenu {
    display: none;
    padding-left: 12px;

    &--item {
        padding-top: 12px;
    }
}

&-menu__item {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    position: relative;

    &:not(:last-child) {
        margin-right: 24px;
    }

    &::after {
        position: absolute;
        content: '';
        width: 0;
        opacity: 0;
        height: 1px;
        left: 0;
        top: 34px;
    }

    &:hover {
        color: $hover;
    }

    &:hover::after {
        background-color: $link;
        width: 100%;
        opacity: 1;
        transition: all 0.3s ease;
    }
}

&-language {
    position: relative;
    text-align: right;
    cursor: pointer;

    &:hover .header-language__list {
        visibility: visible;
        animation: rotateDropDown 0.6s forwards 0.2s;
        -webkit-animation: rotateDropDown 0.6s forwards 0.2s;
    }
}

&-language__flag {
    margin-right: 6px;
    vertical-align: baseline;
}

&-language__label {
    font-size: 1.6rem;
    color: $link;
    &:hover {
        border-bottom: 1px solid $link;
    }
}

&-language__list {
    will-change: transform;
    position: absolute;
    top: calc(100% + 35px);
    left: 0;
    min-width: 250px;
    background-color: $white;
    border-radius: 2px;
    z-index: 1;
    padding: 8px 0;
    visibility: hidden;
    opacity: 0;
    transform-origin: top left;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: -35px;
        width: 100%;
        height: 35px;
    }
}

&-language__item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 4px 24px;
    line-height: 24px;
    white-space: nowrap;

    &:hover {
        background-color: #f8f9fa;
    }
}

&-language__item .header-language__label {
    color: #16181b;

    &:hover {
        border: none;
    }
}

&-auth {
    margin-left: 68px;
}

&-auth__login {
}

&-auth__account {
    display: inline-block;
    font-size: 1.2rem;
    min-width: 126px;
    line-height: 20px;
    width: auto;
    margin-left: 20px;
    padding: 4px 16px;
    border: 2px solid rgb(129, 129, 141);
    letter-spacing: -0.3px;
    border-radius: 4px;
    font-weight: 700;
}

// responsive
@media (min-width: 740px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) {
}

@media (max-width: 1199px) {
    .header {
        &-brand {
            height: 20px;
            width: 104px;
            flex: 1;
        }

        &-menus {
            height: 56px;
            padding: 0 24px;
        }
        &-menu {
            display: none;
        }

        &-submenu {
            display: none;
        }

        &-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &__content {
                max-width: 100%;

                &--text {
                    width: 100%;
                    text-align: center;
                }
            }

            &__background {
                display: flex;
                align-items: center;
                justify-content: center;
                left: auto;
                width: 50%;
                height: 50%;

                img {
                    background-size: 50% 50%;
                }
            }
        }
    }
}
