<div class="header-menu">
    <a class="header-brand" href="#!">
        <img src="https://mtr-cdn.com/img/mtweb/general/color-logo.svg" alt="" />
    </a>
    <div class="header-menu">
        <a href="#!" class="header-menu__item">News</a>
        <a href="#!" class="header-menu__item">Market Insights</a>
        <a href="#!" class="header-menu__item">Education</a>
        <a href="#!" class="header-menu__item">FAQ </a>
    </div>
    <div class="header-language">
        <img class="header-language__flag" src="https://mtr-cdn.com/img/mtweb/flags/en.gif" alt="" />
        <span class="header-language__label">English</span>
        <ul class="header-language__list"></ul>
    </div>
    <div class="header-auth">
        <a href="#!" class="header-auth__login">Login</a>
        <a href="#!" class="header-auth__account">Open Account</a>
    </div>
</div>
