<div class="contract">
    <div class="contract-banner">
        <div class="container">
            <div class="contract-banner__wrap">
                <div class="contract-heading">
                    <h1>Contract Specifications</h1>
                    <p>
                        MTrading offers a wide range of trading instruments: currencies, stocks, commodities, crypto &
                        other highly liquid financial assets.
                    </p>
                    <a href="../../pages/auths.html" class="btn btn-primary"> Register </a>
                </div>
                <div class="contract-image">
                    <img src="../../assets/images/contract-specification.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contract-content"></div>
    </div>
</div>
